In [12]:
import pandas as pd
import sys

In [56]:
set1 = pd.read_csv('data/Weather_Sep_19_19_25.csv')
set2 = pd.read_csv('data/Weather_Sep_21_17_20.csv')

# Humidity: Relative Humidity in %
# Temperature: Temperature in *C
# Moisture: Volumetric Water Content of Soil
# Moisture after Watering: -1 if garden was not watered. If not -1, then this is the Volumetric Water Content after watering the garden
# Light: The smaller the value, the more sunlight there is
# Datetime: Time of recording data
COLUMNS = ['Humidity', 'Temperature', 'Moisture', 'Moisture after Watering', 'Light', 'Datetime']
set1.columns = COLUMNS
set2.columns = COLUMNS

In [55]:
set1

,Humidity,Temperature,Moisture,Moisture after Watering,Light,Datetime
0,75.0,26.0,83.84,-1,13542.71,01-01-1970.00:01
1,75.9,26.0,83.87,-1,15039.03,01-01-1970.00:02
2,76.0,26.0,83.87,-1,17211.67,01-01-1970.00:02
3,75.4,26.0,83.84,-1,19665,01-01-1970.00:03
4,75.0,26.0,83.87,-1,22538.84,01-01-1970.00:04
5,75.1,26.0,83.84,-1,25819.7,01-01-1970.00:04
6,75.9,26.0,83.84,-1,29575.87,01-01-1970.00:05
7,76.0,25.7,83.84,-1,33807.64,01-01-1970.00:06
8,76.0,25.7,83.84,-1,38254.65,01-01-1970.00:06
9,76.0,26.0,83.81,-1,43606.87,01-01-1970.00:07
10,76.0,26.0,83.87,-1,50649.28,01-01-1970.00:08
11,75.9,25.4,83.87,-1,56725.07,01-01-1970.00:08
12,75.3,26.0,83.87,-1,64421.08,01-01-1970.00:09
13,75.0,26.0,83.87,-1,74485.1,01-01-1970.00:10
14,75.0,26.0,83.87,-1,80775.11,01-01-1970.00:11
15,75.8,25.4,83.81,-1,88208.74,01-01-1970.00:11
16,76.0,25.0,83.87,-1,97129.12,01-01-1970.00:12
17,76.0,25.0,83.87,-1,108031.8,01-01-1970.00:13
18,76.0,25.0,83.87,-1,121660.14,01-01-1970.00:13
19,76.0,25.0,83.87,-1,132173.44,01-01-1970.00:14
20,75.3,25.9,83.90,-1,139182.3,01-01-1970.00:15
21,75.0,26.0,83.87,-1,150863.77,01-01-1970.00:15
22,75.0,26.0,83.90,-1,162545.22,01-01-1970.00:16
23,74.7,26.0,83.90,-1,162545.22,01-01-1970.00:17
24,74.8,26.0,83.87,-1,188711.64,01-01-1970.00:18
25,74.2,26.0,83.87,-1,195253.23,01-01-1970.00:18
26,74.0,26.0,83.93,-1,195253.23,01-01-1970.00:19
27,74.9,26.0,83.90,-1,214878.05,01-01-1970.00:20
28,75.0,26.0,83.84,-1,239409.08,01-01-1970.00:20
29,74.0,26.0,83.87,-1,244315.28,01-01-1970.00:21
...,...,...,...,...,...,...
1982,75.0,25.0,80.88,-1,438.3,01-01-1970.23:00
1983,75.0,25.0,80.85,-1,441.83,01-01-1970.23:01
1984,75.0,25.0,82.04,-1,441.66,01-01-1970.23:02
1985,75.0,25.0,81.98,-1,445.88,01-01-1970.23:02
1986,75.0,25.0,81.98,-1,450.13,01-01-1970.23:03
1987,75.0,25.0,81.98,-1,454.4,01-01-1970.23:04
1988,75.0,25.0,81.98,-1,458.91,01-01-1970.23:04
1989,75.0,25.0,81.98,-1,463.01,01-01-1970.23:05
1990,75.0,25.0,81.95,-1,467.36,01-01-1970.23:06
1991,75.0,25.0,82.01,-1,472.17,01-01-1970.23:06
1992,75.0,25.0,81.92,-1,478.34,01-01-1970.23:07
1993,74.1,25.0,82.01,-1,485,01-01-1970.23:08
1994,74.0,25.0,81.92,-1,491.28,01-01-1970.23:09
1995,74.0,25.0,81.95,-1,496.25,01-01-1970.23:09
1996,74.0,25.0,81.92,-1,502.85,01-01-1970.23:10
1997,74.0,25.0,81.95,-1,507.67,01-01-1970.23:11
1998,74.3,25.0,82.01,-1,514.6,01-01-1970.23:11
1999,74.8,25.0,82.04,-1,520.67,01-01-1970.23:12
2000,75.0,25.0,82.04,-1,526.3,01-01-1970.23:13
2001,75.0,25.0,82.01,-1,533.65,01-01-1970.23:13
2002,75.0,25.0,82.04,-1,540.59,01-01-1970.23:14
2003,75.0,25.0,79.87,-1,545.17,01-01-1970.23:15
2004,75.3,25.0,79.59,-1,552.7,01-01-1970.23:16
2005,76.0,25.0,79.59,-1,560.06,01-01-1970.23:16
2006,76.0,25.0,79.59,-1,567.74,01-01-1970.23:17
2007,76.0,25.0,79.59,-1,576.5,01-01-1970.23:18
2008,76.0,25.0,79.59,-1,585.1,01-01-1970.23:18
2009,76.0,25.0,79.59,-1,598.44,01-01-1970.23:19
2010,76.0,25.0,79.59,-1,603.89,01-01-1970.23:20
2011,76.0,25.0,79.62,-1,618.88,01-01-1970.23:20

In [57]:
# Select only data collected in intervals of 20 minutes
# Put the relevant datasets into set1_cleansed
set1_cleansed = pd.DataFrame(columns=COLUMNS)

# Append the first row of relevant data, which is the first entry in set1
set1_cleansed = set1_cleansed.append(set1.iloc[0])
for i in range(len(set1)):
    row = set1.iloc[i]
    
    if row['Datetime'][-2:] in ('00', '20', '40'):
        set1_cleansed = set1_cleansed.append(row)
    
        
set1_cleansed


# set2_cleansed = pd.DataFrame(columns=COLUMNS)

# for i in range(len(set2)):
#     row = set2.iloc[i]
    
#     if row['Datetime'][-2:] in ('00', '20', '40'):
#         set2_cleansed = set2_cleansed.append(row)
    
        
# set2_cleansed

,Humidity,Temperature,Moisture,Moisture after Watering,Light,Datetime
0,83.0,24.0,68.26,-1,3201.97,01-01-1970.00:01
27,82.0,24.0,67.71,-1,56725.07,01-01-1970.00:20
28,81.1,24.0,67.80,-1,60332.57,01-01-1970.00:20
56,81.8,24.0,67.93,-1,108031.80,01-01-1970.00:40
57,82.0,24.0,67.89,-1,108031.80,01-01-1970.00:40
85,83.8,24.0,67.96,-1,108031.80,01-01-1970.01:00
114,83.9,24.0,67.99,-1,108031.80,01-01-1970.01:20
142,83.0,24.0,68.41,-1,108031.80,01-01-1970.01:40
143,83.6,24.0,68.44,-1,108031.80,01-01-1970.01:40
171,84.0,24.0,68.63,-1,97129.12,01-01-1970.02:00
200,85.1,24.0,68.69,-1,97129.12,01-01-1970.02:20
229,82.1,24.0,68.93,-1,109394.64,01-01-1970.02:40
257,84.0,24.0,69.09,-1,120297.31,01-01-1970.03:00
258,83.1,24.0,69.09,-1,121660.14,01-01-1970.03:00
286,78.0,24.0,68.90,-1,120297.31,01-01-1970.03:20
315,77.0,25.0,67.41,-1,121660.14,01-01-1970.03:40
343,80.0,24.0,67.38,-1,98219.39,01-01-1970.04:00
344,78.4,24.0,67.44,-1,99309.66,01-01-1970.04:00
372,79.1,24.0,67.34,-1,97129.12,01-01-1970.04:20
373,79.0,24.0,67.50,-1,99309.66,01-01-1970.04:20
401,83.0,23.0,67.41,-1,121660.14,01-01-1970.04:40
430,78.4,23.0,67.41,-1,128669.02,01-01-1970.05:00
458,77.9,23.0,67.50,-1,128669.02,01-01-1970.05:20
459,77.1,23.0,67.47,-1,123412.36,01-01-1970.05:20
487,78.0,23.0,67.38,-1,121660.14,01-01-1970.05:40
488,78.1,23.0,67.53,-1,125164.59,01-01-1970.05:40
516,77.0,23.0,67.41,-1,123412.36,01-01-1970.06:00
545,77.0,23.0,67.34,-1,123412.36,01-01-1970.06:20
573,76.0,22.2,67.50,-1,121660.14,01-01-1970.06:40
574,76.0,22.1,67.44,-1,125164.58,01-01-1970.06:40
...,...,...,...,...,...,...
5603,66.3,21.0,70.40,-1,59.79,01-03-1970.17:00
5631,65.1,21.0,69.70,-1,93.50,01-03-1970.17:20
5632,65.1,21.1,69.79,-1,92.50,01-03-1970.17:20
5660,64.1,21.0,69.48,-1,117.25,01-03-1970.17:40
5689,62.7,21.0,69.02,-1,132.44,01-03-1970.18:00
5717,61.7,21.0,68.41,-1,167.97,01-03-1970.18:20
5718,61.0,21.0,68.38,-1,165.93,01-03-1970.18:20
5746,63.4,21.0,67.99,-1,212.62,01-03-1970.18:40
5747,62.1,21.0,67.99,-1,213.49,01-03-1970.18:40
5775,64.4,21.0,68.02,-1,206.33,01-03-1970.19:00
5804,64.6,21.0,67.80,-1,230.64,01-03-1970.19:20
5832,61.1,20.0,67.71,-1,233.48,01-03-1970.19:40
5833,61.0,20.0,67.68,-1,233.48,01-03-1970.19:40
5861,64.1,20.0,67.62,-1,244.42,01-03-1970.20:00
5862,64.0,20.0,67.65,-1,245.33,01-03-1970.20:00
5890,63.8,20.0,67.53,-1,257.94,01-03-1970.20:20
5919,63.0,20.0,67.53,-1,255.51,01-03-1970.20:40
5947,61.9,20.0,67.53,-1,269.61,01-03-1970.21:00
5948,61.1,20.0,67.44,-1,270.61,01-03-1970.21:00
5976,61.7,20.0,67.25,-1,285.92,01-03-1970.21:20
6005,59.0,20.0,67.28,-1,296.81,01-03-1970.21:40
6034,58.0,20.0,66.79,-1,308.07,01-03-1970.22:00
6062,58.9,20.0,66.73,-1,321.78,01-03-1970.22:20
6063,59.0,20.0,66.64,-1,321.65,01-03-1970.22:20
6091,62.0,19.1,66.00,-1,436.24,01-03-1970.22:40
6120,61.0,20.0,66.67,-1,365.14,01-03-1970.23:00
6148,62.0,19.0,70.55,-1,615.71,01-03-1970.23:20
6149,62.0,19.0,70.52,-1,632.81,01-03-1970.23:20
6177,61.0,19.0,70.22,-1,1794.21,01-03-1970.23:40
6178,61.0,19.0,70.31,-1,1879.17,01-03-1970.23:40